@use "@styles/partials" as *;

.toast-container {
	inset: auto 0 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 200;
}

.toast {
	&__message {
		background-color: $c-p-orange;
		box-shadow: 0 0.25rem 1rem $c-n-black-transparent;
		color: $c-n-white;
		font-weight: 600;
		text-align: center;
		width: 100%;
		cursor: pointer;
		position: relative;
	}
}
