@use "@styles/partials" as *;

.description {
	flex-basis: 30rem;
	padding-top: 5rem;

	&__company {
		text-transform: uppercase;
		font-size: 1.1rem;
		letter-spacing: 0.25ch;
		color: $c-p-orange;
		margin-bottom: 2ch;
	}

	&__product {
		text-transform: capitalize;
		font-size: 2.8rem;
		color: $c-n-very-vark-blue;
		line-height: 1.5ch;
		margin-bottom: 2ch;
	}

	&__text {
		color: $c-n-dark-grayish-blue;
	}

	&__button-container {
		display: flex;
	}
}

.price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2ch;
	margin-bottom: 3rem;

	&__current {
		font-size: 2rem;
		font-weight: 800;
	}

	&__discount {
		background-color: $c-p-pale;
		padding: 0 1ch;
		border-radius: 0.25rem;
		color: $c-p-orange;
	}

	&__org {
		flex-basis: 100%;
		color: $c-n-dark-grayish-blue;
		text-decoration: line-through;
	}
}

.quantity {
	background-color: $c-n-light-grayish-blue;
	min-width: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	padding: 0 1ch;

	&__button {
		background-color: transparent;
		border: none;
		color: $c-p-orange;
		height: 2rem;
	}

	&__number {
		font-weight: 800;
	}
}
