@use "@styles/partials" as *;

.description {
	flex-basis: 28rem;

	@media screen and (max-width: $tablet) {
		flex-basis: unset;
	}

	&__company {
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 0.25ch;
		color: $c-p-orange;
		margin-bottom: 1rem;

		@media screen and (max-width: $tablet) {
			font-size: 0.75rem;
		}
	}

	&__product {
		text-transform: capitalize;
		font-size: 2.8rem;
		color: $c-n-very-vark-blue;
		line-height: 1.8ch;
		margin-bottom: 2rem;

		@media screen and (max-width: $tablet) {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}
	}

	&__text {
		color: $c-n-dark-grayish-blue;
		margin-bottom: 2rem;

		@media screen and (max-width: $tablet) {
			font-size: 0.95rem;
			margin-bottom: 1rem;
		}
	}

	&__button-container {
		display: flex;
		gap: 1rem;

		@media screen and (max-width: $mobile) {
			flex-direction: column;
		}
	}
}

.price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2ch;
	margin-bottom: 2rem;

	&__current {
		font-size: 1.8rem;
		font-weight: 800;
	}

	&__discount {
		background-color: $c-p-pale;
		padding: 0 1ch;
		border-radius: 0.25rem;
		color: $c-p-orange;
	}

	&__org {
		flex-basis: 100%;
		color: $c-n-dark-grayish-blue;
		text-decoration: line-through;

		@media screen and (max-width: $tablet) {
			flex-basis: unset;
			margin-left: auto;
		}
	}
}

.quantity {
	background-color: $c-n-light-grayish-blue;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.5rem;
	padding: 0 1ch;
	border-radius: 0.5rem;

	&__button {
		border: none;
		background-color: transparent;
		color: $c-p-orange;
		width: 1.25rem;
		height: 100%;
		aspect-ratio: 1;

		&:first-of-type {
			justify-items: left;
		}

		&:last-of-type {
			justify-items: right;
		}

		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}

	&__number {
		font-weight: 800;
		width: 2ch;
		background-color: re;
		text-align: center;
	}
}

.add {
	flex-grow: 2;
	height: 3.5rem;
	border: none;
	background-color: $c-p-orange;
	border-radius: 0.5rem;
	color: $c-n-white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	box-shadow: 0 2rem 1rem $c-p-pale;
	padding: 0 1ch;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&__icon {
		width: 1.5rem;
	}

	&__text {
		font-size: 1rem;
		font-weight: 800;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
