@use "@styles/partials" as *;

.gallery {
	flex-basis: 28rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media screen and (max-width: $tablet) {
		flex-basis: unset;
		margin: 0 -1.5rem;
	}

	&__carousel {
		border-radius: 1rem;
		overflow: hidden;
		height: 28rem;
		background-color: $c-n-light-grayish-blue;
		display: flex;
		position: relative;

		@media screen and (max-width: $tablet) {
			border-radius: unset;
			height: 19rem;
			object-fit: cover;
			object-position: center;
		}
	}

	&__large {
		transition: left 0.25s linear;
		object-fit: contain;
		aspect-ratio: 1;
		position: relative;
		left: var(--left, 0);
	}

	&__thumbnail-container {
		display: flex;

		@media screen and (max-width: $tablet) {
			display: none;
		}
	}

	&__thumbnail {
		border-radius: 0.5rem;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		max-width: 5.5rem;

		&::before,
		&::after {
			position: absolute;
			content: "";
			inset: 0;
			border-radius: inherit;
		}

		&:not(&--active):hover {
			&::after {
				background-color: $c-n-white;
				opacity: 0.33;
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}
		}

		&--active {
			&::before,
			&::after {
				position: absolute;
				content: "";
				inset: 0;
				border-radius: inherit;
			}

			&::before {
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}

			&::after {
				background-color: $c-n-white;
				opacity: 0.66;
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}
		}
	}

	&__spacer {
		min-width: 0.25rem;
		flex-grow: 1;
	}
}
