@use "@styles/partials" as *;

.gallery {
	flex-basis: 28rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&__active {
		border-radius: 1rem;
		overflow: hidden;
		height: 28rem;
		object-fit: contain;
		background-color: $c-n-light-grayish-blue;
	}

	&__thumbnail-container {
		display: flex;
	}

	&__thumbnail {
		border-radius: 0.5rem;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		max-width: 5.5rem;

		&::before,
		&::after {
			position: absolute;
			content: "";
			inset: 0;
			border-radius: inherit;
		}

		&:not(&--active):hover {
			&::after {
				background-color: $c-n-white;
				opacity: 0.33;
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}
		}

		&--active {
			&::before,
			&::after {
				position: absolute;
				content: "";
				inset: 0;
				border-radius: inherit;
			}

			&::before {
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}

			&::after {
				background-color: $c-n-white;
				opacity: 0.66;
				box-shadow: inset 0 0 0 2px $c-p-orange;
			}
		}
	}

	&__spacer {
		min-width: 0.25rem;
		flex-grow: 1;
	}
}
