@use "@styles/partials" as *;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400..700&display=swap");

* {
	font-family: "Kumbh Sans", sans-serif;
}

#root {
	height: 100%;
}

.app {
	padding: 0 1.5rem 3rem;
	min-height: 100%;
	position: relative;
}

.main {
	@include max-width(65rem);
	display: flex;
	align-items: center;
	padding-top: 5rem;

	@media screen and (max-width: $tablet) {
		padding-top: unset;
		flex-direction: column;
		align-items: stretch;
		gap: 1.5rem;
	}

	&__spacer {
		min-width: 2rem;
		flex-grow: 1;

		@media screen and (max-width: $tablet) {
			display: none;
		}
	}
}

.attribution {
	position: absolute;
	inset: auto 0 0rem;
	padding-bottom: 0.33rem;
	font-size: 0.66rem;
	text-align: center;
	color: $c-n-grayish-blue;

	&__link {
		color: $c-n-dark-grayish-blue;
		text-decoration: none;
	}
}
