@use "@styles/partials" as *;

.cart-wrapper {
	@include max-width(80rem);
	position: absolute;
	inset: 0;
	padding: 0 1rem;
}

.cart {
	margin-top: 6rem;
	margin-left: auto;
	max-width: 22rem;
	width: 100%;
	background-color: $c-n-white;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
	box-shadow: 0 1rem 2rem #00000040;
	border-radius: 0.5rem;
	cursor: default;

	@media screen and (max-width: $tablet) {
		margin-top: 5rem;
	}

	&__title {
		font-size: 1rem;
		font-weight: 800;
		text-transform: capitalize;
		color: $c-n-very-vark-blue;
	}

	&__divider {
		width: calc(100% + 3rem);
		align-self: center;
		color: $c-n-grayish-blue;
		border-width: 1px 1px 0 0;
	}

	&__item-container {
		display: grid;
		grid-template-areas:
			"image product product delete"
			"image current total delete";
		grid-template-columns: 3rem auto 1fr 1rem;
		column-gap: 1rem;
		min-height: 3rem;
	}

	&__image {
		grid-area: image;
		border-radius: 0.5rem;
		overflow: hidden;
		height: min-content;
		place-self: center;
	}

	&__product {
		grid-area: product;
		font-size: 0.95rem;
		font-weight: 400;
		color: $c-n-dark-grayish-blue;
		text-transform: capitalize;
	}

	&__current {
		color: $c-n-dark-grayish-blue;
	}

	&__total {
		font-weight: 800;
		color: $c-n-very-vark-blue;
	}

	&__delete {
		grid-area: delete;
		padding: 0;
		background-color: transparent;
		color: $c-n-grayish-blue;
		border: none;
		align-self: center;
		cursor: pointer;

		&:hover {
			color: $c-n-very-vark-blue;
		}
	}

	&__checkout {
		background-color: $c-p-orange;
		padding: 1rem;
		border: none;
		border-radius: 0.5rem;
		color: $c-n-white;
		text-transform: capitalize;
		font-weight: 800;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}

	&__empty {
		margin: 3rem auto;
		color: $c-n-dark-grayish-blue;
		font-weight: 800;
	}
}
