@use "@styles/partials" as *;

.nav {
	@include max-width();
	display: flex;
	align-items: center;
	border-bottom: 1px solid;
	border-color: $c-n-light-grayish-blue;
	position: relative;

	@media screen and (max-width: $tablet) {
		height: 4rem;
		border: none;
	}

	&__logo {
		flex-shrink: 0;
	}

	&__link-wrapper {
		position: relative;
		height: 7rem;
		display: grid;
		place-items: center;
	}

	&__link {
		color: $c-n-dark-grayish-blue;
		text-decoration: none;
		text-transform: capitalize;
		height: 100%;
		display: grid;
		place-items: center;
	}

	&__underline {
		position: absolute;
		bottom: 0;
		height: 0.25rem;
		width: 100%;
		background-color: $c-p-orange;
	}

	&__cart {
		margin-left: auto;
		flex-shrink: 0;
		background-color: transparent;
		border: none;
		color: $c-n-dark-grayish-blue;
		cursor: pointer;
		position: relative;

		&:hover {
			color: $c-n-very-vark-blue;
		}

		&::after {
			position: absolute;
			content: attr(data-count);
			font-size: 0.66rem;
			font-weight: 600;
			background-color: $c-p-orange;
			padding: 0 1ch;
			border-radius: 1rem;
			color: $c-n-white;
			top: -25%;
			right: 0;
		}
	}

	&__avatar {
		width: 3rem;
		aspect-ratio: 1;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: $c-n-light-grayish-blue;
		object-fit: cover;
		border: none;
		cursor: pointer;

		@media screen and (max-width: $tablet) {
			width: 1.5rem;
		}

		&:hover {
			outline: 2px solid $c-p-orange;
		}
	}

	&__spacer {
		max-width: 2.5rem;
		min-width: 0.5rem;
		flex-grow: 1;

		@media screen and (max-width: $tablet) {
			max-width: 1rem;
		}
	}

	&__menu {
		display: flex;
		flex-grow: 1;
		color: $c-n-dark-grayish-blue;
		font-size: 1rem;

		@media screen and (max-width: $tablet) {
			display: none;
		}
	}

	&__hamburger {
		display: none;

		@media screen and (max-width: $tablet) {
			display: inline-block;
			background-color: transparent;
			border: none;
			color: $c-n-dark-grayish-blue;
			cursor: pointer;
			width: 1.5rem;
			height: min-content;
			flex-shrink: 0;

			&:hover {
				color: $c-n-very-vark-blue;
			}
		}

		& + .nav__spacer {
			display: none;

			@media screen and (max-width: $tablet) {
				display: unset;
			}
		}
	}
}
